* {
  margin: 0%;
  padding: 0%;
  border: 0%;
  box-sizing: border-box; }

/*HEADER CODE*/
/*HEADER CODE*/
/*HEADER CODE*/
/*HEADER CODE*/
/*HEADER CODE*/
body {
  background-color: white;
  font-family: "Anek Odia", sans-serif; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #1e2824;
  padding: 1rem;
  width: 100%;
  z-index: 10; }
  .header__open {
    display: none; }
  .header__marca {
    margin-left: 1rem;
    width: 100px;
    height: 100px; }
  .header__image {
    width: 100%;
    height: 100%; }
  .header__description {
    padding: 15px;
    color: white;
    width: 5%;
    margin-bottom: 0rem; }

.nav {
  position: absolute;
  right: 0rem;
  padding-right: 2rem; }
  .nav__lista {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0rem; }
  .nav__item {
    padding-left: 1.5rem;
    margin-left: 30px;
    border-left: solid #a80d0d;
    transition: 0.5s; }
    .nav__item:hover {
      transform: scale(120%); }
    .nav__item--close {
      display: none; }
    .nav__item--1 {
      margin-left: 40px;
      transition: 0.5s; }
      .nav__item--1:hover {
        transform: scale(120%); }
  .nav__enlace {
    color: #a80d0d;
    text-decoration: none; }
    .nav__enlace:hover {
      color: #a80d0d; }

/*FOOTER CODE*/
/*FOOTER CODE*/
/*FOOTER CODE*/
/*FOOTER CODE*/
/*FOOTER CODE*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
  color: white;
  width: 100%;
  min-height: 250px; }
  .footer__image {
    margin: 1.5rem 0rem 0rem 1rem;
    width: 60px;
    height: 60px; }
  .footer__suscripcion {
    display: flex;
    flex-direction: column;
    padding: 1.5rem; }
  .footer__sugerencia {
    font-size: 90%; }
  .footer__email {
    padding-right: 1.5rem; }
  .footer__boton {
    background-color: #a80d0d;
    color: white;
    font-family: "Rubik Microbe", cursive;
    padding: 5px 12px 5px 12px;
    transition: 1s; }
    .footer__boton:hover {
      transform: scale(120%); }
  .footer__contacto {
    position: absolute;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__contacto--sugerencia {
      margin: 1rem;
      font-size: 70%; }
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    gap: 50px;
    order: -1; }
    .footer__redes--red-social {
      width: 50px;
      height: 50px;
      transition: 0.5s; }
      .footer__redes--red-social:hover {
        transform: scale(140%); }
    .footer__redes--red-social1 {
      width: 45px;
      height: 45px;
      transition: 0.5s; }
      .footer__redes--red-social1:hover {
        transform: scale(140%); }
    .footer__redes--image {
      width: 100%;
      height: 100%; }
  .footer__map {
    width: 340px;
    height: 110px; }

/*MAIN INICIO CODE*/
/*MAIN INICIO CODE*/
/*MAIN INICIO CODE*/
/*MAIN INICIO CODE*/
/*MAIN INICIO CODE*/
.main-fondo {
  background-image: url(../imagenes/Facu-26.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 650px; }
  .main-fondo__titulo {
    text-align: center;
    color: #a80d0d;
    font-size: 60px;
    font-family: "Fira Sans", sans-serif; }
  .main-fondo__subtitulo {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    padding: 1rem; }
  .main-fondo__boton {
    background-color: #a80d0d;
    color: white;
    font-family: "Rubik Microbe", cursive;
    font-size: larger;
    padding: 10px 12px 10px 12px;
    margin-top: 1rem; }

.centrado {
  text-align: center; }

.espaciado {
  margin-top: 20rem; }

.animacion {
  animation-name: coder;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes coder {
  0% {
    transform: scale(100%) translateX(0px); }
  50% {
    transform: scale(110%) translateX(0px); }
  100% {
    transform: scale(100%) translateX(0px); } }

.focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* ----------------------------------------------
 * Generated by Animista on 2022-5-4 0:18:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation focus-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/*MAIN RESERVAS CODE*/
/*MAIN RESERVAS CODE*/
/*MAIN RESERVAS CODE*/
/*MAIN RESERVAS CODE*/
/*MAIN RESERVAS CODE*/
.main-fondo2 {
  background-image: url(../imagenes/Facu-26.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px; }
  .main-fondo2__titulo {
    padding-top: 12rem;
    color: #a80d0d;
    font-size: 45px;
    text-align: center;
    font-family: "Fira Sans", sans-serif; }

.formulario {
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 4px solid red;
  border-radius: 15px;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white; }
  .formulario__boton {
    background-color: white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    padding: 5px 12px 5px 12px; }

.servicio {
  background-color: rgba(0, 0, 0, 0.5); }
  .servicio__imagen {
    object-fit: cover;
    height: 300px; }
  .servicio__titulo {
    font-weight: bolder;
    color: crimson;
    background-color: black; }
    .servicio__titulo--2 {
      font-family: "Koulen", cursive;
      color: crimson; }
  .servicio__descripcion {
    color: white;
    padding: 0.5rem;
    width: 100%;
    height: 120px; }
  .servicio__precio {
    align-self: flex-end;
    color: #a80d0d;
    font-weight: bold;
    text-align: center;
    width: 120px; }

.font {
  font-family: "Koulen", cursive; }

.video {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border: 4px solid black;
  object-fit: cover; }

.acordeon {
  padding-top: 4rem; }

.accordion-button:not(.collapsed) {
  color: crimson;
  background-color: black; }

.accordion-button:focus {
  border-color: #a80d0d;
  box-shadow: #a80d0d; }

/*MAIN NOSOTROS CODE*/
/*MAIN NOSOTROS CODE*/
/*MAIN NOSOTROS CODE*/
/*MAIN NOSOTROS CODE*/
/*MAIN NOSOTROS CODE*/
.main-fondo3 {
  background-image: url(../imagenes/Facu-26.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px; }
  .main-fondo3__titulo {
    padding-top: 12rem;
    color: #a80d0d;
    font-size: 45px;
    text-align: center;
    font-family: "Fira Sans", sans-serif; }

.seccion {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: large;
  padding: 1.5rem; }
  .seccion__titulo {
    background-color: rgba(0, 0, 0, 0.5);
    color: #a80d0d;
    padding: 1rem; }
  .seccion__descripcion {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem; }

.aside {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: small;
  padding: 1.5rem; }
  .aside__titulo {
    background-color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    padding: 1rem; }
  .aside__descripcion {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    padding: 1rem; }

/*MAIN PRODUCTOS CODE*/
/*MAIN PRODUCTOS CODE*/
/*MAIN PRODUCTOS CODE*/
/*MAIN PRODUCTOS CODE*/
/*MAIN PRODUCTOS CODE*/
.main-fondo4 {
  background-image: url(../imagenes/Facu-26.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px; }
  .main-fondo4__titulo {
    padding-top: 12rem;
    color: #a80d0d;
    font-size: 45px;
    text-align: center;
    font-family: "Fira Sans", sans-serif; }

.producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding: 1.5rem;
  border-radius: 15px;
  transition: 1s; }
  .producto:hover {
    transform: scale(110%); }
  .producto__imagen {
    width: 100%;
    height: 100%; }
  .producto__titulo {
    color: black;
    font-size: 150%;
    align-self: flex-start;
    padding-top: 1rem; }
  .producto__descripcion {
    color: black;
    text-align: justify;
    width: 100%; }
  .producto__precio {
    background-color: #a80d0d;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, cursive;
    padding: 5px 12px 5px 12px;
    align-self: flex-end; }
  .producto__gradiente {
    background: #ffa5a5;
    background: linear-gradient(to bottom, #ffa5a5 35%, #f4ebeb 100%); }

.botones-gradiente {
  background: #b90000;
  background: linear-gradient(to bottom, #b90000 35%, #580303 100%); }

/*MAIN FAQ CODE*/
/*MAIN FAQ CODE*/
/*MAIN FAQ CODE*/
/*MAIN FAQ CODE*/
/*MAIN FAQ CODE*/
.main-fondo5 {
  background-image: url(../imagenes/Facu-26.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px; }

.barra-relativo {
  position: relative; }

.barra-icono {
  transform: scale(50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  position: absolute;
  top: 18.7rem;
  left: 28.5rem;
  border-radius: 50%;
  padding: 0.5rem; }

.barra-busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
  font-size: 350%;
  font-weight: bold;
  color: white; }

.barra-busqueda--2 {
  margin: 2rem;
  font-size: 60%;
  text-align: center;
  border-radius: 15px; }

.preguntas {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between; }
  .preguntas__pregunta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    background-color: white;
    border-radius: 15px;
    transition: 1s; }
    .preguntas__pregunta:hover {
      transform: scale(120%); }
    .preguntas__pregunta--titulo {
      align-self: center;
      color: black;
      font-size: large;
      font-weight: bolder; }
    .preguntas__pregunta--descripcion {
      color: black;
      text-align: justify;
      font-weight: bolder; }
  .preguntas__gradiente {
    background: #ffa5a5;
    background: linear-gradient(to bottom, #ffa5a5 35%, #f4ebeb 100%); }

/*MEDIA QUERIE CODE*/
/*MEDIA QUERIE CODE*/
/*MEDIA QUERIE CODE*/
/*MEDIA QUERIE CODE*/
/*MEDIA QUERIE CODE*/
@media screen and (max-width: 1300px) {
  .formulario {
    margin: 2rem 0.5rem 2rem 0.5rem;
    padding: 1rem; }
  /*NOSOTROS QUERIE*/
  .aside__titulo {
    font-size: medium; }
  .aside__descripcion {
    font-size: smaller; }
  /*PRODUCTOS QUERIE*/
  .main-fondo4 {
    background-image: url(../imagenes/Facu-46.jpg);
    background-position-x: center; }
    .main-fondo4__titulo {
      font-size: xx-large;
      color: white; }
  .producto:hover {
    transform: scale(100%); }
  /*FAQ QUERIE*/
  .barra-icono {
    display: none; } }

@media screen and (max-width: 1023px) {
  /* NAV QUERIE */
  .header__marca {
    margin-left: 0.5rem;
    width: 65px;
    height: 65px; }
  .header__description {
    font-size: 60%; }
  .nav {
    display: none; }
    .nav__enlace {
      color: crimson; }
    .nav__lista {
      flex-direction: column;
      justify-content: center;
      padding-top: 2rem;
      font-size: 100%;
      font-weight: bolder;
      height: 100%;
      gap: 3rem; }
    .nav__item {
      margin-left: 40px;
      padding-left: 0rem;
      border-left: none; }
      .nav__item:hover {
        transform: scale(100%); }
      .nav__item--close {
        display: block; }
      .nav__item--1:hover {
        transform: scale(100%); }
  .header__open {
    display: block;
    color: #a80d0d;
    font-size: 32px;
    text-decoration: none;
    position: absolute;
    right: 1rem;
    top: 1.65rem;
    margin-right: 1rem; }
  #lateral {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    width: 73%;
    height: 100vh;
    position: fixed;
    top: 0%;
    right: -100%;
    z-index: 100;
    transition: right 1s; }
  #lateral:target {
    right: 0%; }
  /*INICIO QUERIE*/
  .main-fondo {
    font-size: small;
    background-image: url(../imagenes/Facu-46.jpg);
    background-position-x: center; }
    .main-fondo__titulo {
      font-size: xx-large;
      color: white;
      text-align: center;
      padding-bottom: 1.5rem; }
    .main-fondo__subtitulo {
      text-align: center;
      width: 100%;
      margin-left: 0%;
      padding: 1rem; }
  .centrado {
    text-align: center; }
  @keyframes coder {
    0% {
      transform: scale(100%) translateX(0px); }
    50% {
      transform: scale(110%) translateX(0px); }
    100% {
      transform: scale(100%) translateX(0px); } }
  /*RESERVAS QUERIE*/
  .main-fondo2 {
    font-size: small;
    background-image: url(../imagenes/Facu-46.jpg);
    background-position-x: center;
    background-repeat: repeat;
    width: 100%; }
    .main-fondo2__titulo {
      font-size: xx-large;
      color: white; }
  .formulario {
    margin: 2rem 1rem 2rem 1rem;
    padding: 1rem; }
  /*NOSOTROS QUERIE*/
  .main-fondo3 {
    background-image: url(../imagenes/Facu-46.jpg);
    background-position-x: center; }
    .main-fondo3__titulo {
      font-size: xx-large;
      color: white; }
  .seccion__descripcion {
    font-size: medium; } }

/* FOOTER QUERIE */
@media screen and (max-width: 779px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .footer__suscripcion {
      justify-content: center;
      align-items: center;
      font-size: 80%; }
    .footer__boton {
      padding: 0.2rem; }
      .footer__boton:hover {
        transform: scale(100%); }
    .footer__redes {
      margin: 0.2rem;
      gap: 28px; }
      .footer__redes--red-social {
        width: 40px;
        height: 40px; }
        .footer__redes--red-social:hover {
          transform: scale(100%); }
      .footer__redes--red-social1 {
        width: 35px;
        height: 35px; }
        .footer__redes--red-social1:hover {
          transform: scale(100%); }
    .footer__image {
      margin: 1rem;
      width: 40px;
      height: 40px;
      order: 1; }
    .footer__map {
      width: 280px;
      height: 80px; }
    .footer__contacto {
      position: unset; } }

/*FAQ QUERIE*/
@media screen and (max-width: 690px) {
  .main-fondo5 {
    background-image: url(../imagenes/Facu-46.jpg);
    background-position-x: center; }
  .barra-busqueda {
    margin-top: 10rem;
    font-size: 200%;
    padding: 1rem;
    width: 100%;
    text-align: center; } }
