* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Anek Odia', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(30, 40, 36);
    padding: 1rem;
    width: 100%;
    z-index: 10;
}

.header__open {
    display: none;
}

.header__marca {
    margin-left: 1rem;
    width: 100px;
    height: 100px;
}

.header__image {
    width: 100%;
    height: 100%;
}

.header__description {
    padding: 15px;
    color: rgb(255, 255, 255);
    width: 5%;
    margin-bottom: 0rem;
}

.nav {
    position: absolute;
    right: 0rem;
    padding-right: 2rem;
}

.nav__lista {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0rem;
}

.nav__item{
    padding-left: 1.5rem;
    margin-left: 30px;
    border-left: solid rgb(168, 13, 13);
    transition: 0.5s;
}

.nav__item:hover {
    transform: scale(120%);
}

.nav__item--1 {
    margin-left: 40px;
    transition: 0.5s;
}

.nav__item--1:hover {
    transform: scale(120%);
}

.nav__item--close {
    display: none;
}

.nav__enlace {
    color: rgb(168, 13, 13);
    text-decoration: none;
}

@media screen and (max-width :1023px) {

    .header__marca {
        margin-left: 0.5rem;
        width: 65px;
        height: 65px;
    }

    .header__description {
        font-size: 60%;
    }

    .nav {
        display: none;
    }

    .nav__lista {
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;
        font-size: 100%;
        font-weight: bolder;
        height: 100%;
        gap: 3rem;
    }

    .nav__item {
        margin-left: 40px;
        padding-left: 0rem;
        border-left: none;
    }

    .nav__item--close {
        display: block;
    }
    
    .nav__enlace {
        color: crimson;
    }

    .header__open {
        display: block;
        color: rgb(168, 13, 13);
        font-size: 32px;
        text-decoration: none;
        position: absolute;
        right: 1rem;
        top: 1.65rem;
    }

    #lateral {
        display: block;
        background-color: rgba(0, 0, 0, 0.9);
        width: 73%;
        height: 100vh;
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        transition: right 1s;
    }

    #lateral:target {
        right: 0%;
    }
}
