* {
    padding: 0%;
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}

.main-fondo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url(../imagenes/Facu-26.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 1450px;
}

.main-fondo__titulo {
    position: absolute;
    top: 10rem;
    left: 12rem;
    color: rgb(168, 13, 13);
    font-size: 45px;
    font-weight: bold;
}

.seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 8rem;
}

.seccion__video {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: 4px solid rgb(0, 0, 0);
    width: 485px;
    height: 365px;

}

.formulario {
    margin: 8rem 6rem 6rem 6rem;
    padding: 2rem;
    border: 4px solid red;
    border-radius: 15px;
    line-height: 2rem;
    background-color: rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
}

.formulario__align {
    text-align: justify;
}

.formulario__boton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    padding: 5px 12px 5px 12px;
}

.servicios {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    padding: 1.5rem;
    width: 700px;
}
.servicio {
    background-color: rgba(0,0,0,0.5);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicio__imagen {
    align-self: flex-start;
    border: 5px solid rgb(0, 0, 0);
    width: 350px;
    height: 180px;
}

.servicio__titulo {
    align-self: flex-start;
    color: rgb(168, 13, 13);
    font-weight: bold;
    text-align: center;
    padding: 0rem 0.5rem 0rem 0.5rem;

}

.servicio__descripcion {
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    width: 100%;
    height: 120px;
}

.servicio__precio {
    align-self: flex-end;
    color: rgb(168, 13, 13);
    font-weight: bold;
    text-align: center;
    width: 120px;
}

@media screen and (max-width:1300px) {
    .main-fondo {
        height: 1700px;
    }

    .servicios {
        width: 75%;
        margin: 2rem 0.5rem 2rem 0.5rem;
    }

    .formulario {
        margin: 2rem 0.5rem 2rem 0.5rem;
        padding: 1rem;
      
    }
 }

@media screen and (max-width:1023px) {
    .main-fondo__titulo {
        font-size: xx-large;
        color: rgb(255, 255, 255);
        position: unset;
        margin-top: 8rem;

    }

    .main-fondo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: small;
        background-image: url(../imagenes/Facu-46.jpg);
        background-position-x: center;
        background-repeat: repeat;
        width: 100%;
        height: 2900px;
    }

    .seccion {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-top: 0%;
   } 

    .seccion__video  {
        width: 200px;
        height: 150px;
    }

    .formulario {
        margin: 2rem 1rem 2rem 1rem;
        padding: 1rem;
      
    }

    .servicios {
        width: 100%;
        align-items: center;

    }

    .servicio {
        width: 90%;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
    }

    .servicio__imagen {
        align-self: center;
        width: 60%;
        height: 60%;
    }

    .servicio__titulo {
        align-self: center;
        padding: 1rem;
    }

    .servicio__descripcion {
        text-align: justify;
        padding: 0rem 1rem 0rem 1rem;
        margin-bottom: 1rem;
    }

    .servicio__precio {
        align-self: center;
        padding: 1rem 1rem 0rem 1rem;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width:768px) {
    .main-fondo {
        height: 2600px;
    }


 }

@media screen and (max-width: 602px) {
    .main-fondo__titulo {
        position: unset;
    }

    .main-fondo {
        height: 2400px;
    }
}

@media screen and (max-width: 485px) {
    .main-fondo {
        height: 2500px;
    }

    .servicio__imagen {
        width: 100%;
        height: 100%;
    }
 }

@media screen and (max-width: 325px) {
   .main-fondo__titulo {
        position: unset;
    }

    .main-fondo {
        height: 2300px;
    }
}