* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
}

.main-fondo {
    background-image: url(../imagenes/Facu-26.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
}

.main-fondo__titulo {
    padding-top: 12rem;
    color: rgb(168, 13, 13);
    font-size: 45px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.seccion {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: large;
    padding: 1.5rem;
}

.seccion__titulo {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(168, 13, 13);
    padding: 1rem;

}

.seccion__descripcion {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.aside {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: small;
    padding: 1.5rem;
}

.aside__titulo {
    background-color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    padding: 1rem;
}
 .aside__descripcion {
     background-color: rgba(0, 0, 0, 0.5);
     text-align: justify;
     padding: 1rem;
}

 @media screen and (max-width: 1300px) {
     .aside__titulo {
         font-size: medium;
     }

     .aside__descripcion {
         font-size: smaller;
     }
}
 @media screen and (max-width: 1023px) {
    .main-fondo {    
        background-image: url(../imagenes/Facu-46.jpg);
        background-position-x: center;
     }

     .main-fondo__titulo {
        font-size: xx-large;
        color: rgb(255, 255, 255);
    }

    .seccion__descripcion {
        font-size: medium;
    }
}
