* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
}

.main-fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/Facu-26.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 1300px;
} 
.barra-relativo {
    position: relative;
}
.barra-icono {
    transform: scale(50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 7rem;
    left: 8rem;
    border-radius: 50%;
    padding: 0.5rem;
}

.barra-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    font-size: 350%;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.barra-busqueda--2 {
    margin: 2rem;
    font-size: 60%;
    text-align: center;
    border-radius: 15px;
}

.preguntas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    width: 700px;
    height: 600px;
}

.preguntas__pregunta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 18rem;
    transition: 1s;
}

.preguntas__pregunta:hover {
    transform: scale(120%);
}

.preguntas__pregunta--titulo {
    align-self: center;
    color: rgb(0, 0, 0);
    font-size: large;
}

.preguntas__pregunta--descripcion {
    color: rgb(0, 0, 0);
    text-align: justify;
}

.preguntas__gradiente {
    background: rgb(255,165,165);
    background: linear-gradient(to bottom, rgba(255,165,165,1) 35%, rgba(244,235,235,1) 100%);
}

@media screen and (max-width: 1100px) {
    .barra-icono {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    .main-fondo {
        flex-direction: column;
        height: 1800px;
        background-image: url(../imagenes/Facu-46.jpg);
        background-position-x: center;
    }

   .main-fondo__titulo {
       font-size: xx-large;
       color: rgb(255, 255, 255);
       top: 8rem;
       left: 1.5rem;
       padding: 1rem;
   }

   .preguntas {
       width: 100%;
       height: 1100px;
       gap: 5rem;
   }

   .barra-busqueda {
       margin-top: 0%;
       font-size: 200%;
       padding: 1rem;
       width: 100%;
       text-align: center;
       position: absolute;
       top: 7rem;
   }

}