/*FOOTER CODE*/
/*FOOTER CODE*/
/*FOOTER CODE*/
/*FOOTER CODE*/
/*FOOTER CODE*/

.footer {
    @include flexbox (row, flex-start, flex-start);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    min-height: 250px;

    &__image {
        margin: 1.5rem 0rem 0rem 1rem;
        width: 60px;
        height: 60px;
    }
    
    &__suscripcion {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    
    }
    
    &__sugerencia {
        font-size: 90%;
    }
    
    &__email {
        padding-right: 1.5rem;
    }
    
    &__boton {
        background-color: $color-principal;
        color: rgb(255, 255, 255);
        font-family: $font-boton;
        padding: 5px 12px 5px 12px;
        transition: 1s;
    
        &:hover {
            transform: scale(120%);
        }
    }
    
    &__contacto {
        position: absolute;
        right: 1.5rem;
        @include flexbox (column);
    
        &--sugerencia {
            margin: 1rem; 
            font-size: 70%;
         }
    }

    &__redes {
        @include flexbox (row);
        margin-top: 1.5rem;
        gap: 50px;
        order: -1;
    
        &--red-social {
            width: 50px;
            height: 50px;
            transition: 0.5s;
        
            &:hover {
                transform: scale(140%);
            }
        }

        &--red-social1 {
            width: 45px;
            height: 45px;
            transition: 0.5s;
        
            &:hover {
                transform: scale(140%);
            }
        }
    
        &--image {
            width: 100%;
            height: 100%;
        }
    }

    &__map {
        width: map-get($map: $estilos, $key: 340px);
        height: map-get($map: $estilos, $key: 110px);
    }
}




















