/*MAIN RESERVAS CODE*/
/*MAIN RESERVAS CODE*/
/*MAIN RESERVAS CODE*/
/*MAIN RESERVAS CODE*/
/*MAIN RESERVAS CODE*/

.seccion-fondo2--2 {
    background-image: url(../imagenes/Aconcagua20162.png);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-size: large;
    padding-top: 5rem;

    &__titulo {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 50px;
        width: 100%;
        padding: 1rem;
    }
}

.formulario {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 4px solid red;
    border-radius: 30px;
    line-height: 2rem;
    background-color: rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    font-weight: bold;

    &__boton {
        background-color: rgba(243, 243, 243, 0.5);
        color: rgb(0, 0, 0);
        font-family: $fontbclackopsone;
        padding: 5px 12px 5px 12px;
        width: 100%;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter:blur(15px);
        border-radius: 4px;
    }
}

.foto {
    border-top: 95px solid rgb(0, 0, 0);
    background-image: url(../imagenes/prueba.jpg);
    background-size: cover;
    margin-top: 5rem;
}

.servicio {
    background-color: rgba(0,0,0,0.5);

    &__imagen {
        object-fit: cover;
        height: 300px;
    }
    
    &__titulo {
        color: crimson;
        background-color: rgb(0, 0, 0);
        font-family: $fontrubik;

        &--2 {
            font-family: $fontrubik;
            color: crimson;
        }
    }
    
    &__precio {
        align-self: flex-end;
        color: $color-principal;
        font-weight: bold;
        text-align: center;
        width: 120px;
    }

    
    &__font {
        font-family: $fontrubik;
    }

}

.relative {
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 5rem;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 4rem;
    border: 6px solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.carrusel {
    border: 6px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.accordion-button:not(.collapsed) {
    color: crimson;
    background-color: rgb(0, 0, 0);
}

.accordion-button:focus {
    border-color: $color-principal;
    box-shadow: $color-principal;
}
