/*MAIN FAQ CODE*/
/*MAIN FAQ CODE*/
/*MAIN FAQ CODE*/
/*MAIN FAQ CODE*/
/*MAIN FAQ CODE*/


.main-fondo5 {
    background-image: url(../imagenes/Facu-26.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
} 
.barra-relativo {
    position: relative;
}
.barra-icono {
    transform: scale(50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 18.7rem;
    left: 28.5rem;
    border-radius: 50%;
    padding: 0.5rem;
}

.barra-busqueda {
    @include flexbox (column);
    padding-top: 12rem;
    font-size: 350%;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.barra-busqueda--2 {
    margin: 2rem;
    font-size: 60%;
    text-align: center;
    border-radius: 15px;
}

.preguntas {
    @include flexbox (row, space-around);
    flex-wrap: wrap; 
    align-content: space-between;
    padding: 1rem;

    &__pregunta {
        @include flexbox (column, flex-start, flex-start);
        padding: 1.5rem;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        transition: 1s;
    
        &:hover {
            transform: scale(120%);
        }
    
        &--titulo {
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: large;
            font-weight: bolder;
        }
        
        &--descripcion {
            color: rgb(0, 0, 0);
            text-align: justify;
            font-weight: bolder;
        }
    }
    
    &__gradiente {
        background: rgb(255,165,165);
        background: linear-gradient(to bottom, rgba(255,165,165,1) 35%, rgba(244,235,235,1) 100%);
    }
}