/*MAIN PRODUCTOS CODE*/
/*MAIN PRODUCTOS CODE*/
/*MAIN PRODUCTOS CODE*/
/*MAIN PRODUCTOS CODE*/
/*MAIN PRODUCTOS CODE*/


.main-fondo4 {
    background-image: url(../imagenes/Facu-26.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;

    &__titulo {
        padding-top: 12rem;
        color: $color-principal;
        font-size: 45px;
        text-align: center;
        font-family: $font-titulo;
    }
}

.producto {
    @include flexbox(column, center, flex-start);
    padding: 1.5rem;
    border-radius: 15px; 
    transition: 1s;

    &:hover {
        transform: scale(110%);
    }

    &__imagen {
        width: 100%;
        height: 100%;
    }
    
    &__titulo {
        color: rgb(0, 0, 0);
        font-size: 150%;
        align-self: flex-start;
        padding-top: 1rem;
        font-weight: bold;
    }
    
    &__descripcion {
        color: rgb(0, 0, 0);
        text-align: justify;
        width: 100%;
        font-weight: bold;
    }
    
    &__precio {
        background-color: $color-principal;
        color: rgb(0, 0, 0);
        font-family: $font-precio;
        padding: 5px 12px 5px 12px;
        align-self: flex-end;
    }

    
    &__gradiente {
        background: rgb(255,165,165);
        background: linear-gradient(to bottom, rgba(255,165,165,1) 35%, rgba(244,235,235,1) 100%);
}
    
}

.botones-gradiente {
    background: rgb(185,0,0);
    background: linear-gradient(to bottom, rgba(185,0,0,1) 35%, rgba(88,3,3,1) 100%);
}