/*MEDIA QUERIE CODE*/
/*MEDIA QUERIE CODE*/
/*MEDIA QUERIE CODE*/
/*MEDIA QUERIE CODE*/
/*MEDIA QUERIE CODE*/


@media screen and (max-width:1300px) {

    .formulario {
        margin: 2rem 0.5rem 2rem 0.5rem;
        padding: 1rem;
    }

/*NOSOTROS QUERIE*/

    .aside__titulo {
        font-size: medium;
    }

    .aside__descripcion {
        font-size: smaller;
    }

/*PRODUCTOS QUERIE*/

    .main-fondo4 {
        background-image: url(../imagenes/Facu-46.jpg);
        background-position-x: center;
    }

    .main-fondo__titulo--4 {
        font-size: xx-large;
        color: rgb(255, 255, 255);
    }

    .producto:hover {
        transform: scale(100%);
    }

 /*FAQ QUERIE*/

    .barra-icono {
        display: none;
    }
 }

@media screen and (max-width :1023px) {
/* NAV QUERIE */

    .header__marca {
        margin-left: 0.5rem;
        width: 65px;
        height: 65px;
    }

    .header__description {
        font-size: 60%;
    }

    .nav {
        display: none;
    }

    .nav__lista {
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;
        font-size: 100%;
        font-weight: bolder;
        height: 100%;
        gap: 3rem;
    }

    .nav__item {
        margin-left: 40px;
        padding-left: 0rem;
        border-left: none;
    }

    .nav__item:hover {
       transform: scale(100%);
    }

    .nav__item--close {
        display: block;
    }
    
    .nav__item--1:hover {
        transform: scale(100%);
    }

    .nav__enlace {
        color: crimson;
    }

    .header__open {
        display: block;
        color: rgb(168, 13, 13);
        font-size: 32px;
        text-decoration: none;
        position: absolute;
        right: 1rem;
        top: 1.65rem;
        margin-right: 1rem;
    }

    #lateral {
        display: block;
        background-color: rgba(0, 0, 0, 0.9);
        width: 73%;
        height: 100vh;
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        transition: right 1s;
    }

    #lateral:target {
        right: 0%;
    }

/*INICIO QUERIE*/

    .main-fondo__titulo {
        font-size: xx-large;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .main-fondo {
        font-size: small;
        background-image: url(../imagenes/Facu-46.jpg);
        background-position-x: center;
    }

    .centrado {
        text-align: center;
    }
    
    .main-fondo__subtitulo {
        text-align: center;
        width: 100%;
        margin-left: 0%;
        padding: 1rem;
    }

    @keyframes coder {
        0% {
            transform: scale(100%) translateX(0px);
        }
    
        50% {
            transform: scale(110%) translateX(0px);
        }
    
        100% {
            transform: scale(100%) translateX(0px);
        }
    }

 /*RESERVAS QUERIE*/

    .main-fondo__titulo--2 {
        font-size: xx-large;
        color: rgb(255, 255, 255);
    }

    .main-fondo2 {
        font-size: small;
        background-image: url(../imagenes/Facu-46.jpg);
        background-position-x: center;
        background-repeat: repeat;
        width: 100%;
    }

    .formulario {
        margin: 2rem 1rem 2rem 1rem;
        padding: 1rem;
    }

 /*NOSOTROS QUERIE*/

    .main-fondo3 {    
        background-image: url(../imagenes/Facu-46.jpg);
        background-position-x: center;
     }
 
     .main-fondo__titulo--3 {
        font-size: xx-large;
        color: rgb(255, 255, 255);
    }
 
    .seccion__descripcion {
        font-size: medium;
    }
}

/* FOOTER QUERIE */

@media screen and (max-width: 779px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .footer__suscripcion {
        justify-content: center;
        align-items: center;
        font-size: 80%;
    }
    
    .footer__boton {
        padding: 0.2rem;
    }

    .footer__redes {
        margin: 0.2rem;
        gap: 28px;
    }

    .footer__redes--red-social {
        width: 40px;
        height: 40px;
    }

    .footer__redes--red-social1 {
        width: 35px;
        height: 35px;
    }
    .footer__image {
        margin: 1rem;
        width: 40px;
        height: 40px;
        order: 1;
    }

    .footer__map {
        width: 280px;
        height: 80px;
    }
    
    .footer__contacto {
        position: unset;
    }
    .footer__boton:hover {
        transform: scale(100%);
    }
    
    .footer__redes--red-social:hover {
        transform: scale(100%);
    }
    
    .footer__redes--red-social1:hover {
        transform: scale(100%);
    }
}

/*FAQ QUERIE*/

@media screen and (max-width: 690px) {
    .main-fondo5 {
        background-image: url(../imagenes/Facu-46.jpg);
        background-position-x: center;
    }

   .barra-busqueda {
       margin-top: 10rem;
       font-size: 200%;
       padding: 1rem;
       width: 100%;
       text-align: center;
   }
}

