$color-principal: rgb(168, 13, 13);

$font-body: 'Anek Odia', sans-serif;

$font-boton:  'Rubik Microbe', cursive;

$font-titulo-2: 'Special Elite', cursive;

$font-titulo: 'Fira Sans', sans-serif;

$font-reserva: 'Koulen', cursive; 

$font-precio: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;

@mixin flexbox ($direccion, $eje-principal:center, $eje-secundario:center) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $eje-principal;
    align-items: $eje-secundario;
}

$estilos: (
        340px: 340px,
        110px: 110px    
    );